* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

#navbar {
  border-bottom: 1px solid #dfdfdf;
  padding: 1em;
  margin-bottom: 1em;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
}

#navbar ul li {
  margin-left: 1em;
}

h1 {
  text-align: center;
}

.form {
  width: 450px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: .3m;
  padding: 2px;
}

.form-control input {
  padding: 8px;
}

.form-checkbox {
    flex-direction: row;
}

.form-checkbox input {
    margin-right: 10px;
}

.send-input {
  padding: 5px;
  background-color: #000;
  border: transparent;
  color: white;
}