<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/car-icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Nongo Parking - Estacionamento</title>
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/parking">Estacionamentos</a></li>
            <li><a href="/parking/create">Adicionar estacionamento</a></li>
        </ul>
    </nav>

    <div class="container">
        {{{body}}}
    </div>

</body>

</html>