<h1>Estacionamentos</h1>

<div class="parkings">
    {{#each parkings}}
    <div class="parking">
        <h3>{{this.name}}</h3>
        <i>{{this.description}}</i>
        <img src="{{this.image}}" alt="{{this.name}}">
    </div>
    {{/each}}
</div>