* {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

#navbar {
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #173a5c;
    border-bottom: 1px solid #f2f2f2;
}

#navbar ul {
    display: flex;
    list-style: none;
    background-color: #173a5c;
}

#navbar li {
    margin-left: 1em;
    background-color: #173a5c;
}

#navbar ul li a {
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
    background-color: #173a5c;
    color: #f2f2f2;
}

/* Form */
h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    color: #333;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
}

.image-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    background-color: #f2f2f2;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.image-section img:hover {
    transform: scale(1.05);
}

.form-section {
    width: 50%;
    padding: 2em;
    border: 1px solid #e0e0e0;
    border-radius: 0 8px 8px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

.form-control input,
.form-control textarea {
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control textarea {
    resize: vertical;
}

.btn {
    padding: 0.8em 1.2em;
    background-color: #173a5c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}

.btn:hover {
    background-color: #2980b9;
}

/* Parking All */
.parkings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 2em;
}

.parking {
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 1.5em;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s ease;
    padding: 1em;
}

.parking:hover {
    transform: scale(1.05);
}

.parking h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.5em;
}

.parking p {
    font-size: 1em;
    color: #666;
    margin: 0.5em 0;
    word-wrap: break-word;
    padding: 1em;
}

.parking img {
    max-width: 20em;
    height: 6em;
    border-radius: 6px;
    margin-top: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}