<div id="book-page">
  <a href="/books">Back</a>
  <div class="container">
    <h1>{{returnedBook.title}}</h1>
    <p>The book has {{returnedBook.quantity_page}} pages.</p>

    <div class="actions">
      <a href="/books/edit/{{returnedBook.id}}">Edit</a>
      <form action="/books/remove/{{returnedBook.id}}" method="POST">
        <input type="submit" value="Remove">
      </form>
    </div>
  </div>
</div>