<h1>Register your book</h1>

<form action="/books/register/" method="POST" class="form">
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Write the book name" >
  </div>

  <div class="form-control">
    <label for="quantity_page">Page quantity</label>
    <input type="number" name="quantity_page" placeholder="Write the number of pages">
  </div>
  
  <input class="input-send" type="submit" value="Send">
</form>